[Desktop Entry]
Name=NXEngine Evo
GenericName=Jump-and-run platformer
Comment=NXEngine Evo clone/rewrite of Doukutsu Monogatari
Exec=nxengine-evo
Categories=Game;
Icon=nxengine-evo
Type=Application
Terminal=false
