[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Cave Story (NXEngine Evo)
GenericName=Jump-and-run Platformer Game
Comment=Rewrite of the jump-and-run platformer masterpiece Doukutsu Monogatari
Exec=nxengine-evo
Categories=Game;ActionGame;
Icon=org.nxengine.nxengine_evo
